<div class="modal-cs">
    <div class="modal-content">
        <div class="modal-header justify-content-between">
            <div>
                <h4>{{'profile-info.change-password' | translate }}</h4>
            </div>

        </div>
        <div class="modal-body row">
            <div class="col-12">
                <label>{{'profile-info.old-password' | translate }}:</label>
                <div class="form-group">
                    <input class="form-control" type="password" [(ngModel)]="model.password">
                </div>
                <label *ngIf="errorModel.password !== ''" class="text-danger">{{errorModel.password}}</label>
            </div>
            <div class="col-12">
                <label>{{'profile-info.new-password' | translate }}:</label>
                <div class="form-group">
                    <input class="form-control" type="password" [(ngModel)]="model.newPassword">
                </div>
                <label *ngIf="errorModel.newPassword !== ''" class="text-danger">{{errorModel.newPassword}}</label>

            </div>
            <div class="col-12">
                <label>{{'profile-info.confirm-new-password' | translate }}:</label>
                <div class="form-group">
                    <input class="form-control" type="password" [(ngModel)]="model.confirmNewPassword">
                </div>
                <label *ngIf="passwordNotMatch" class="text-danger">{{'profile-info.password-not-match' | translate }}</label>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-danger" (click)="changePassword()">{{'button.yes' | translate }}</button>
            <button type="button" class="btn btn-secondary" (click)="close()">{{'button.cancel' | translate }}</button>
        </div>
    </div>
</div>
