<nz-modal nzWidth="800px" [nzVisible]="visible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleVisibleModel(false)">
    <ng-template #modalTitle>
        {{
            modifyingModel?._id
                ? modifyingModel?.name
                : ("button.create" | translate)
        }}
    </ng-template>
    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" #createModifyForm="ngForm">
            <div class="row">
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label nzRequired>
                            {{ "term-and-condition.modal.title" | translate }}
                        </nz-form-label>
                        <nz-form-control>
                            <input nz-input name="title" [(ngModel)]="model.title" #title="ngModel" required />
                            <nz-form-explain *ngIf="
                                    (title.dirty || title.touched) &&
                                    title.errors?.required
                                ">
                                {{
                                    "validations-form.title.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label nzFor="">{{
                            "term-and-condition.modal.type" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <nz-select style="width: 100%" [(ngModel)]="model.userType" name="status" nzShowSearch>
                                <nz-option *ngFor="let item of userTypes" [nzLabel]="'common.' + item | translate"
                                    [nzValue]="item">
                                </nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-4">
                    <nz-form-item>
                        <nz-form-label nzRequired nzFor="orderNo">{{ "common.orderNo" | translate }}
                        </nz-form-label>
                        <nz-form-control>
                            <nz-input-number style="width: 100%" [nzMin]="0" name="orderNo" type="number" id="order"
                                [(ngModel)]="model.order" #orderNo="ngModel" required></nz-input-number>
                            <nz-form-explain *ngIf="
                                    (orderNo.dirty || orderNo.touched) &&
                                    orderNo.errors?.required
                                ">
                                {{
                                    "validations-form.orderNo.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-12">
                    <nz-form-item>
                        <nz-form-label>{{
                            "common.content" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <ck-editor name="editor1" [(ngModel)]="model.content" skin="moono-lisa" [fullPage]="true">
                            </ck-editor>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-template>

    <ng-template #modalFooter>
        <div style="width: 350px; margin: 0 auto;">
            <div class="buttonActions">
                <button ad-button nzColor="primary" (click)="submit()">
                    {{ "button.yes" | translate }}
                </button>
                <button ad-button nzColor="gray" (click)="cancel()">
                    {{ "button.cancel" | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
<spinner-processing-modal [visible]="isProcessing"></spinner-processing-modal>
