<nz-modal nzWidth="550px" [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="cancel()">
    <ng-template #modalTitle>
        {{ "email.account.change-password" | translate }}
    </ng-template>

    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" #changeProviderPasswordForm="ngForm">
            <nz-form-item>
                <nz-form-label nzFor="oldPassword" nzRequired>{{
                    "email.account.old-password" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <input type="password" nz-input [(ngModel)]="_oldPassword" name="oldPassword" #oldPassword="ngModel"
                        required />
                    <nz-form-explain *ngIf="
                            (oldPassword.dirty || oldPassword.touched) &&
                            oldPassword.errors?.required
                        ">
                        {{
                            "validations-form.password.old-required" | translate
                        }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="newPassword" nzRequired>{{
                    "email.account.new-password" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <input type="password" nz-input [(ngModel)]="_newPassword" name="newPassword" #newPassword="ngModel"
                        required />
                    <nz-form-explain *ngIf="
                            (newPassword.dirty || newPassword.touched) &&
                            newPassword.errors?.required
                        ">
                        {{
                            "validations-form.password.new-required" | translate
                        }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="confirmPassword" nzRequired>{{ "common.confirm" | translate }}
                </nz-form-label>
                <nz-form-control [ngClass]="{
                        'has-error':
                            _newPassword &&
                            _confirmPassword &&
                            _confirmPassword !== _newPassword
                    }">
                    <input type="password" nz-input name="confirmPassword" [(ngModel)]="_confirmPassword"
                        #confirmPassword="ngModel" required />
                    <nz-form-explain *ngIf="
                            (confirmPassword.dirty ||
                                confirmPassword.touched) &&
                            confirmPassword.errors?.required
                        ">
                        {{
                            "validations-form.password.confirm-required"
                                | translate
                        }}
                    </nz-form-explain>
                    <nz-form-explain *ngIf="
                            _newPassword &&
                            _confirmPassword &&
                            _confirmPassword !== _newPassword
                        ">
                        {{ "validations-form.password.confirm" | translate }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="grid__footer">
            <div class="buttonActions">
                <button ad-button nzUpper nzColor="primary" [nzLoading]="isProcessing"
                    (click)="onChangeProviderPassword()">
                    {{ "button.update" | translate }}
                </button>
                <button ad-button nzUpper nzColor="default" (click)="cancel()">
                    {{ "button.close" | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
