<div style="margin: 10px 0">
    <form nz-form nzLayout="vertical" [style.display]="display ? 'block' : 'none'">
        <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label>
                        {{
                            "marketing.loyalty-point.partnerCode-customerCode"
                                | translate
                        }}
                    </nz-form-label>
                    <nz-form-control>
                        <search-and-suggest-account-component [(ngModel)]="selectedUser" ngDefaultControl
                            [ngModelOptions]="{ standalone: true }" #userValue="ngModel" [allowCustomer]="true"
                            [allowServicer]="true" [placeHolder]="'common.code' | translate"
                            [servicerSearchCondition]="servicerSearchCondition"
                            [customerSearchCondition]="customerSearchCondition">
                        </search-and-suggest-account-component>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label>
                        {{ "filter.fromDate" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-date-picker #startDatePicker name="startTime" [(ngModel)]="startTime"
                            [ngStyle]="{ width: '100%' }" [nzPlaceHolder]="'filter.fromDate' | translate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label>
                        {{ "filter.toDate" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-date-picker #endDatePicker name="endTime" [(ngModel)]="endTime"
                            [ngStyle]="{ width: '100%' }" [nzPlaceHolder]="'filter.toDate' | translate">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label>
                        {{ "marketing.loyalty-point.orderType" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-select style="width: 100%;" name="type" [(ngModel)]="model.type" nzPlaceHolder="Tất cả"
                            nzAllowClear>
                            <nz-option *ngFor="let item of type" [nzValue]="item" [nzLabel]="
                                    'marketing.loyalty-point-type.' + item
                                        | translate
                                "></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label class="form-label--empty"> </nz-form-label>
                    <nz-form-control>
                        <button ad-button nzColor="red" (click)="searchFilter()">
                            {{ "actions.search" | translate }}
                        </button>
                        &nbsp;
                        <button ad-button nzColor="white" (click)="resetFilter()">
                            {{ "common.delete" | translate }}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
