<form nz-form nzLayout="vertical" #filterSmsLogForm="ngForm">
    <div class="row">
        <div class="col-3">
            <nz-form-item>
                <nz-form-label>
                    {{ "filter.phone" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="queryModel.phone" name="phone" #phoneValue="ngModel" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label>
                    {{ "filter.smsProvider" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="queryModel.telecom" [nzPlaceHolder]="'filter.all' | translate"
                        name="smsProvider" nzAllowClear>
                        <nz-option *ngFor="let item of telecomOptionList" [nzValue]="item.name" [nzLabel]="item.name">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label>
                    {{ "filter.smsType" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="queryModel.type" [nzPlaceHolder]="'filter.all' | translate" name="status"
                        nzAllowClear>
                        <nz-option *ngFor="let item of smsTypeOptionList" [nzValue]="item"
                            [nzLabel]="'telecom.sms-type.' + item | translate"></nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
    <div class="row">
        <div class="col-3">
            <nz-form-item>
                <nz-form-label>
                    {{ "filter.fromDate" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="startTime" name="startTime" [ngStyle]="{ width: '100%' }">
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label>
                    {{ "filter.toDate" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <nz-date-picker [(ngModel)]="endTime" name="endTime" [ngStyle]="{ width: '100%' }">
                    </nz-date-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-2">
            <nz-form-item>
                <nz-form-label class="form-label form-label--empty"></nz-form-label>
                <nz-form-control>
                    <div class="button__right">
                        <button ad-button nzColor="primary" (click)="search()">
                            {{ "button.find" | translate }}
                        </button>
                        &nbsp;
                        <button ad-button (click)="reset()">
                            {{ "button.remove" | translate }}
                        </button>
                    </div>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
