<div class="modal-body">
    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">{{'settings.createAccount.password' | translate}}</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="name" [(ngModel)]="password" #passwordField="ngModel"
                pattern="^(?=.*[A-Za-z@$!%*#?&])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$">
            <div class="error" *ngIf="(passwordField.dirty || passwordField.touched) && passwordField.errors?.pattern">
                {{ 'settings.createAccount.invalid-password' | translate }}
            </div>
        </div>
    </div>

    <div class="form-group row">
        <label for="name" class="col-sm-4 col-form-label">{{'settings.createAccount.repassword' | translate}}</label>
        <div class="col-sm-8">
            <input type="password" class="form-control" id="name" [(ngModel)]="rePassword" #repasswordField="ngModel"
                pattern="^(?=.*[A-Za-z@$!%*#?&])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$">
            <div class="error" *ngIf="password != rePassword">
                {{ 'settings.createAccount.wrongRepassword' | translate }}
            </div>
            <div class="error"
                *ngIf="(repasswordField.dirty || repasswordField.touched) && repasswordField.errors?.pattern">
                {{ 'settings.createAccount.invalid-password' | translate }}
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="ngbActiveModal.close()" translate="actions.close"></button>
    <button type="button"
        [disabled]="password.length < 8 || password != rePassword || passwordField.errors?.pattern || repasswordField.errors?.pattern"
        class="btn btn-primary" (click)="confirm()" translate="actions.save"></button>
</div>
