<nz-table #table [nzData]="tableData.data" [nzFrontPagination]="false" [nzLoading]="loadingGrid"
    [nzTotal]="tableData.total" [(nzPageIndex)]="queryModel.page" [(nzPageSize)]="queryModel.limit"
    [nzFrontPagination]="false" nzShowSizeChanger (nzPageIndexChange)="loadDataByPage($event)"
    (nzPageSizeChange)="loadDataByPageSize($event)" [nzScroll]="{ x: '1000px' }" nzShowQuickJumper
    [nzShowTotal]="totalTemplate">
    <thead>
        <tr>
            <th [nzWidth]="'10%'">{{ 'common.responseRateCode' | translate }}</th>
            <th [nzWidth]="'10%'">{{ 'common.sentAt' | translate }}</th>
            <th [nzWidth]="'17%'">{{ 'common.email' | translate }}</th>
            <th [nzWidth]="'10%'">{{ 'common.phone' | translate }}</th>
            <th [nzWidth]="'10%'">{{ 'common.orderCode' | translate }}</th>
            <th [nzWidth]="'23%'">{{ 'common.content' | translate }}</th>
            <th [nzWidth]="'10%'">{{ 'common.staff' | translate }}</th>
            <th [nzWidth]="'10%'" nzRight="0px">{{'common.action' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table.data">
            <td class="clickable" (click)="handleClickResponse(item)">{{ item.code }}</td>
            <td>{{ item.createdAt | date:'h:mm:ss a dd/MM/yyyy' }}</td>
            <td>{{ item.email }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.orderCode }}</td>
            <td>{{ item.comment }}</td>
            <td>{{ item.updatedBy ? (adminUpdatedBy[item.updatedBy]?.fullName) : '' }}</td>
            <td nzRight="0px">
                <button ad-button nzType="dashed"
                    (click)="handleClickShowReplyModal(item)">{{ 'button.reply' |  translate }}</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-range="range" let-total>
    {{ 'table.show' | translate }} {{ range[0] }}-{{ range[1] }}. {{ 'table.total' | translate }} {{ total }}
    {{ 'table.result' | translate | lowercase}}
</ng-template>
