<nz-table #table (nzPageIndexChange)="loadDataByPage($event)" (nzPageSizeChange)="loadDataByPageSize($event)"
    [(nzPageIndex)]="queryModel.page" [(nzPageSize)]="queryModel.limit" [nzData]="tableData.data"
    [nzFrontPagination]="false" [nzLoading]="loadingGrid" [nzScroll]="{ x: '1200px' }" [nzTotal]="tableData.total"
    nzShowSizeChanger nzShowQuickJumper [nzShowTotal]="totalTemplate">
    <thead>
        <tr>
            <th [nzWidth]="'13%'">{{ 'common.sentAt' | translate }}</th>
            <th [nzWidth]="'13%'">{{ 'telecom.sms-log.smsProvider' | translate }}</th>
            <th [nzWidth]="'13%'">{{ 'common.phone' | translate }}</th>
            <th [nzWidth]="'13%'">{{ 'telecom.sms-log.bid' | translate }}</th>
            <th [nzWidth]="'38%'">{{ 'common.content' | translate }}</th>
            <th [nzWidth]="'10%'" nzRight="0px">{{'common.action' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table.data">
            <td>{{ item.createdAt | date:'h:mm:ss a dd/MM/yyyy' }}</td>
            <td>{{ item.telecom }}</td>
            <td>{{ item.phone }}</td>
            <td>{{ item.bid }}</td>
            <td>{{ item.content }}</td>
            <td nzRight="0px">
                <button nz-dropdown ad-button nzType="dashed" (click)="onClickViewDetail(item)">
                    {{'common.detail' | translate}}
                </button>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-range="range" let-total>
    {{ 'table.show' | translate }} {{ range[0] }}-{{ range[1] }}. {{'table.total' | translate}} {{ total }}
    {{'table.result' | translate | lowercase}}
</ng-template>
