<div class="item">
    <div class="col-5">
        <b>{{'table.referral-policy-code'|translate}}</b>
    </div>
    <div class="col-7 item__right">
        {{model.code}}
    </div>
</div>
<div class="item">
    <div class="col-5"><b>{{'table.referral-policy-name'|translate}}</b></div>
    <div class="col-7 item__right">
        {{model.name}}
    </div>
</div>
<div class="item">
    <div class="col-5"><b>{{'table.description'|translate}}</b></div>
    <div class="col-7 item__right">
        {{model.description}}
    </div>
</div>
<div class="item">
    <div class="col-5"><b>{{'common.status'|translate}}</b></div>
    <div class="col-7 item__right">
        {{'common.status'+model.status|translate}}
    </div>
</div>
<div class="item">
    <div class="col-5"><b>{{'common.createdAt'|translate}}</b></div>
    <div class="col-7 item__right">
        {{model.createdAt | date:'dd/MM/yyyy'}}
    </div>
</div>
<div class="item__button">
    <button ad-button [nzColor]="'orange'" nzSize="large" (click)="handleEdit()">
        {{'button.modify'|translate}}
    </button>
</div>
