<div class="page__container">
    <div class="page__title">
        {{ 'order.list' | translate | uppercase}}
    </div>
    <nz-divider></nz-divider>
    <div class="page__item">
        <warehouse-order-history-filter *ngIf="filterVisible" (onSearch)="search($event)">
        </warehouse-order-history-filter>
        <statistic-tile [data]="statisticData" [style]="{'width': '23%'}"></statistic-tile>
        <warehouse-order-history-grid #grid [(model)]="modelQuery"></warehouse-order-history-grid>
    </div>
</div>
