<form nz-form nzLayout="vertical" #referralForm="ngForm">
    <nz-form-item>
        <div class="title">
            <nz-form-label nzNoColon="true">
                {{ "common.the-referral" | translate | uppercase }}
            </nz-form-label>
        </div>
        <nz-form-control>
            <label nz-checkbox [(ngModel)]="giveReward" name="giveReward" (ngModelChange)="onCheckboxChange()">{{
                    "marketing.referral-policy.give-reward" | translate
                }}</label>
            <div class="row">
                <div class="col-8">
                    <reward-search [(ngModel)]="selectedReward" ngDefaultControl [ngModelOptions]="{ standalone: true }"
                        #reward="ngModel" [placeHolder]="'marketing.reward.find' | translate" [disabled]="!giveReward">
                    </reward-search>
                    <nz-tag style="margin: 0 5px" *ngFor="let item of rewardListArray" nzColor="#12CAD1"
                        [nzMode]="giveReward ? 'closeable' : 'default'" (nzAfterClose)="removeReward(item)">
                        {{ rewardList[item] }}
                    </nz-tag>
                </div>
                <div class="col-2">
                    <button ad-button nzUpper nzColor="primary" (click)="addReward()" [disabled]="!giveReward">
                        {{ "button.add" | translate }}
                    </button>
                </div>
            </div>
            <br />
            <div class="wallet__container">
                <label nz-checkbox [(ngModel)]="giveBonusToWallet" name="giveBonusToWallet"
                    (ngModelChange)="onCheckboxChange()">{{
                        "marketing.referral-policy.give-bonus-to-wallet"
                            | translate
                    }}</label>
                <nz-select class="wallet" [(ngModel)]="walletType" nzPlaceHolder="Choose" name="walletType"
                    [nzDisabled]="!giveBonusToWallet">
                    <nz-option *ngFor="let item of walletTypes" [nzValue]="item"
                        [nzLabel]="'common.wallet-' + item | translate">
                    </nz-option>
                </nz-select>
            </div>
            <nz-input-group class="bonus__container" [nzSuffix]="'common.currency-unit' | translate | uppercase">
                <input nz-input [name]="bonus" [(ngModel)]="bonus" [textMask]="{ mask: numberMask }"
                    [disabled]="!giveBonusToWallet" />
            </nz-input-group>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <div class="title">
            <nz-form-label nzNoColon="true">
                {{
                    "marketing.referral-policy.applied-condition"
                        | translate
                        | uppercase
                }}
            </nz-form-label>
        </div>
        <nz-form-control>
            <condition-management [(model)]="conditions" (onChange)="onConditionChange($event)"
                [numberOfCol]="numberOfCol">
            </condition-management>
        </nz-form-control>
    </nz-form-item>
</form>
