<nz-modal nzWidth="550px" [(nzVisible)]="visiblePasswordForm" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleVisibleModal(false)">
    <ng-template #modalTitle>
        {{ "profile-info.change-password" | translate }}
    </ng-template>
    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" #resetPasswordForm="ngForm">
            <nz-form-item>
                <nz-form-label nzFor="password" nzRequired>
                    {{ "settings.createAccount.password" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <input [type]="'password'" [placeholder]="
                            'settings.createAccount.enterPassword' | translate
                        " nz-input name=" password" [(ngModel)]="password" #passwordField="ngModel" required
                        pattern="^(?=.*[A-Za-z@$!%*#?&])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$" [ngClass]="{
                            'has-error':
                                (passwordField.dirty ||
                                    passwordField.touched) &&
                                passwordField.errors
                        }" />
                    <nz-form-explain *ngIf="
                            (passwordField.dirty || passwordField.touched) &&
                            passwordField.errors?.pattern
                        ">
                        {{
                            "settings.createAccount.invalid-password"
                                | translate
                        }}
                    </nz-form-explain>
                    <nz-form-explain *ngIf="
                            (passwordField.dirty || passwordField.touched) &&
                            passwordField.errors?.required
                        ">
                        {{
                            "settings.createAccount.error-blank-password"
                                | translate
                        }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
            <nz-form-item>
                <nz-form-label nzFor="rePassword" nzRequired>
                    {{ "settings.createAccount.repassword" | translate }}
                </nz-form-label>
                <nz-form-control>
                    <input [type]="'password'" [placeholder]="
                            'settings.createAccount.reEnterPassword' | translate
                        " nz-input name="rePassword" [(ngModel)]="rePassword" #repasswordField="ngModel" required
                        pattern="^(?=.*[A-Za-z@$!%*#?&])(?=.*\d)[A-Za-z\d@$!%*#?&]{8,}$" />
                    <nz-form-explain *ngIf="
                            (repasswordField.dirty ||
                                repasswordField.touched) &&
                            repasswordField.errors?.pattern
                        ">
                        {{
                            "settings.createAccount.invalid-password"
                                | translate
                        }}
                    </nz-form-explain>
                    <nz-form-explain *ngIf="
                            (repasswordField.dirty ||
                                repasswordField.touched) &&
                            repasswordField.errors?.required
                        ">
                        {{
                            "settings.createAccount.error-blank-password"
                                | translate
                        }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="grid__footer">
            <div class="buttonActions">
                <button ad-button nzUpper nzColor="primary" (click)="update()">
                    {{ "button.confirm" | translate }}
                </button>
                <button ad-button nzUpper nzColor="default" (click)="handleVisibleModal(false)">
                    {{ "button.close" | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
