@import 'utils.less';

:host {
    ::ng-deep {
        .page {
            &__wrapper {
                padding: 12px;
                background-color: #fff;
                min-height: 100vh;
            }

            &__title {
                text-transform: uppercase;
                .em(font-size, 18px);
                .em(margin-bottom, 15px, 18px);
                .em(padding-bottom, 10px, 18px);
                border-bottom: 1px solid #adadad2e;
            }

            &__heading {
                width: 100%;
                .em(font-size, 17px, 14px);
                .em(padding-bottom, 10px);
                font-weight: 400;
                border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            }
        }


    }
}
