<form nz-form nzLayout="vertical" #filterTeamServicer="ngForm" *ngIf="display">
    <div class="row">
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="">{{
                    "common.code" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="model.code" name="code" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="">{{
                    "common.name" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <input nz-input [(ngModel)]="model.name" name="name" />
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="">{{
                    "filter.status" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%" [(ngModel)]="model.status" name="status" nzShowSearch
                        nzPlaceHolder="{{ 'common.all' | translate }}" nzAllowClear>
                        <nz-option *ngFor="let item of statuses" [nzLabel]="'common.status' + item | translate"
                            [nzValue]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="">{{
                    "filter.group" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <nz-select style="width: 100%" [(ngModel)]="model.groupId" name="servicerGroup" nzShowSearch
                        nzPlaceHolder="{{ 'common.all' | translate }}" nzAllowClear (ngModelChange)="getTeams()">
                        <nz-option *ngFor="let item of groups" [nzLabel]="item.name" [nzValue]="item._id">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="searchTime">{{
                    "common.createdAt" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <nz-range-picker [nzShowTime]="false" [nzRanges]="ranges1" nzShowTime nzFormat="dd/MM/yyyy"
                        [(ngModel)]="searchTime" name="searchTime" [nzPlaceHolder]="[
                            'filter.fromDate' | translate,
                            'filter.toDate' | translate
                        ]" class="ant-calendar-picker-full-width">
                    </nz-range-picker>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label class="form-label--empty"></nz-form-label>
                <nz-form-control>
                    <button ad-button nzColor="primary" (click)="searchEvent()">
                        {{ "button.search" | translate }}
                    </button>
                    <button ad-button style=" margin-left: 10px;" (click)="reset()">
                        {{ "button.clear" | translate }}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
