<nz-modal nzWidth="900px" [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="cancel()">
    <ng-template #modalTitle>
        {{
            ((districtModel ? "actions.edit" : "actions.add") | translate) +
                " " +
                ("common.district" | translate)
        }}
    </ng-template>
    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" #addEditForm="ngForm">
            <div class="row">
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label nzRequired>
                            {{ "common.district-name" | translate }}
                        </nz-form-label>
                        <nz-form-control>
                            <input name="name" [(ngModel)]="model.name" #districtName="ngModel" nz-input required />
                            <nz-form-explain *ngIf="
                                    (districtName.dirty ||
                                        districtName.touched) &&
                                    districtName.errors?.required
                                ">{{
                                    "validations-form.districtName.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label>{{
                            "common.orderNo" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <nz-input-number name="order" style="width: 100%" [(ngModel)]="model.order" [nzMin]="0"
                                [nzStep]="1">
                            </nz-input-number>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label nzRequired>{{
                            "common.city" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <nz-select nzShowSearch nzAllowClear name="city" style="width: 100%;"
                                [(ngModel)]="modelCity" required #cityId="ngModel">
                                <nz-option *ngFor="let item of cityOptions" [nzValue]="item.code" [nzLabel]="item.name">
                                </nz-option>
                            </nz-select>
                            <nz-form-explain *ngIf="
                                    (cityId.dirty || cityId.touched) &&
                                    cityId.errors?.required
                                ">{{
                                    "validations-form.select-city.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col-6">
                    <nz-form-item>
                        <nz-form-label>{{
                            "common.matches-words" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <nz-tag *ngFor="let tag of model.matches; let i = index" [nzMode]="'closeable'"
                                (nzAfterClose)="handleClose(tag)">
                                {{ sliceTagName(tag) }}
                            </nz-tag>
                            <nz-tag *ngIf="!inputVisible" class="editable-tag" nzNoAnimation (click)="showInput()">
                                <i nz-icon nzType="plus"></i>
                                {{ "common.matches-words" | translate }}
                            </nz-tag>
                            <input #inputElement nz-input *ngIf="inputVisible" type="text" nzSize="small"
                                [(ngModel)]="inputValue" style="width: 120px;" (blur)="handleInputConfirm()"
                                (keydown.enter)="handleInputConfirm()" [ngModelOptions]="{ standalone: true }" />
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="footer">
            <div class="buttonContainer" style="width: 10%">
                <button ad-button nzUpper nzColor="primary" (click)="submit()">
                    {{
                        (districtModel ? "button.edit" : "button.add")
                            | translate
                    }}
                </button>
                <button ad-button nzUpper nzColor="gray" (click)="cancel()">
                    {{ "button.close" | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
<spinner-processing-modal [visible]="isProcessing"></spinner-processing-modal>
