<page-wrapper [nzTitle]="'order.list'|translate">
    <nz-tabset>
        <nz-tab [nzTitle]="'common.all' | translate | uppercase">
            <ng-template nz-tab>
                <order-list></order-list>
            </ng-template>
        </nz-tab>
        <!-- <nz-tab [nzTitle]="'warehouse.order.tab-title' | translate | uppercase">
            <ng-template nz-tab>
                <warehouse-order-list></warehouse-order-list>
            </ng-template>
        </nz-tab> -->
        <!-- <nz-tab [nzTitle]="'warehouse.contact.tab-title' | translate | uppercase">
            <ng-template nz-tab>
                <warehouse-contact-list></warehouse-contact-list>
            </ng-template>
        </nz-tab> -->
        <nz-tab [nzTitle]="'service.return-pending.title' | translate | uppercase">
            <ng-template nz-tab>
                <return-management></return-management>
            </ng-template>
        </nz-tab>
    </nz-tabset>
</page-wrapper>