<nz-table #table [nzData]="model?.data" [nzFrontPagination]="false" [nzLoading]="loadingGrid" [nzTotal]="model?.total"
    [(nzPageIndex)]="queryModel.page" [(nzPageSize)]="queryModel.limit" nzShowSizeChanger
    (nzPageIndexChange)="loadDataByPage($event)" (nzPageSizeChange)="loadDataByPageSize($event)"
    [nzScroll]="{x: '1000px'}" nzShowQuickJumper [nzShowTotal]="totalTemplate">
    <thead>
        <tr>
            <th nzLeft="0px">{{'table.team-code' | translate }}</th>
            <th>{{'table.create-date' | translate }}</th>
            <th>{{'table.team-name' | translate }}</th>
            <th>{{'table.total-orders' | translate }}</th>
            <th>{{'table.total-members' | translate }}</th>
            <th>{{'table.status' | translate }}</th>
            <th nzRight="0px" nzWidth="10%">{{'common.action' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table.data">
            <td>{{item.code}}</td>
            <td>{{item.createdAt | date:'HH:mm dd/MM/yyyy'}}</td>
            <td>
                <a target="_blank" routerLink="/pages/servicer-management/team/detail/{{item._id}}">{{item.name}}</a>
            </td>
            <td>{{item.numberOfOrders}}</td>
            <td>{{item.numberOfMembers}}</td>
            <td>{{'common.status' + item.status | translate}}</td>
            <td nzRight="0px">
                <ng-container>
                    <button nz-dropdown ad-button nzType="dashed" [nzDropdownMenu]="menu"
                        [nzPlacement]="'bottomCenter'">
                        {{'common.action' | translate}}
                    </button>
                    <nz-dropdown-menu #menu="nzDropdownMenu">
                        <ul nz-menu nzSelectable>
                            <li nz-menu-item>
                                <a target="_blank"
                                    routerLink="/pages/servicer-management/team/detail/{{item._id}}">{{'table.view-detail' | translate}}</a>
                            </li>
                            <li nz-menu-item *ngIf='item.status !== 4'>
                                <a (click)="handleDelete(item._id)">{{'common.delete' | translate}}</a>
                            </li>
                        </ul>
                    </nz-dropdown-menu>
                </ng-container>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-range="range" let-total>
    {{'table.show' | translate}} {{range[0]}}-{{range[1]}}. {{'table.total' | translate}} {{total}}
    {{'table.result' | translate | lowercase}}
</ng-template>