<div [style.margin]="'20px 0'">
    <form nz-form nzLayout="vertical" [style.display]="display ? 'block' : 'none'" #filterOrderForm="ngForm">
        <div class="row">
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label nzFor="code">{{ "common.orderCode" | translate }} /
                        {{ "order.external-code" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="model.code" name="code" #code="ngModel" [placeholder]="
                                ('common.orderCode' | translate) +
                                ' / ' +
                                ('order.external-code' | translate)
                            " />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label nzFor="serviceType">{{
                        "common.orderType" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <nz-select nzMode="multiple" [(ngModel)]="_serviceType"
                            [nzPlaceHolder]="'filter.all' | translate" name="serviceType" nzAllowClear>
                            <nz-option *ngFor="let item of serviceTypes" [nzLabel]="'order.type.' + item | translate"
                                [nzValue]="item"></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label>{{
                        "filter.collectionStatus" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <nz-select nzMode="multiple" [(ngModel)]="_requestCodStatus"
                            [nzPlaceHolder]="'filter.all' | translate" name="requestCodStatus" nzAllowClear>
                            <nz-option *ngFor="
                                    let option of requestCodOrder | keyvalue
                                " [nzValue]="option.key" [nzLabel]="
                                    'collectionTab.orderStatus.' +
                                        option.value.name | translate
                                "></nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label nzFor="servicer">{{ "common.servicer" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <search-and-suggest-account-component mode="multiple" [(ngModel)]="selectedServicer"
                            [selectedId]="_selectedServicer" ngDefaultControl [ngModelOptions]="{ standalone: true }"
                            #servicer="ngModel" [allowCustomer]="false" [allowServicer]="true"
                            [servicerSearchCondition]="servicerSearchCondition" [valueType]="'_id'" [placeHolder]="
                                ('actions.enter' | translate) +
                                ' ' +
                                ('common.id' | translate | uppercase) +
                                '/' +
                                ('common.name' | translate) +
                                '/' +
                                ('common.phone' | translate)
                            ">
                        </search-and-suggest-account-component>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label nzFor="startTime">{{
                        "common.createdAt" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [nzShowTime]="false" [nzRanges]="ranges1" nzShowTime nzFormat="dd/MM/yyyy"
                            [(ngModel)]="startTime" name="startTime" [nzPlaceHolder]="[
                                'filter.fromDate' | translate,
                                'filter.toDate' | translate
                            ]" nzAllowClear class="ant-calendar-picker-full-width">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-3">
                <nz-form-item>
                    <nz-form-label nzNoColon></nz-form-label>
                    <nz-form-control>
                        <button ad-button nzColor="red" (click)="searchEvent()">
                            {{ "button.search" | translate }}
                        </button>
                        &nbsp;
                        <button ad-button (click)="reset()">
                            {{ "button.reset" | translate }}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
