<nz-modal nzWidth="550px" [(nzVisible)]="visibleModal" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleVisibleModal(false)">
    <ng-template #modalTitle>
        {{
            (modelQuery?._id
                ? "settings.reason-template.edit"
                : "settings.reason-template.create"
            ) | translate
        }}
    </ng-template>

    <ng-template #modalContent>
        <form nz-form nzLayout="vertical" #reasonTemplateForm="ngForm">
            <div class="row">
                <div class="col">
                    <nz-form-item>
                        <nz-form-label nzFor="name" nzRequired>{{ "settings.reason-template.name" | translate }}
                        </nz-form-label>
                        <nz-form-control>
                            <input type="text" nz-input [(ngModel)]="modelQuery.name" name="name" #name="ngModel"
                                required />
                            <nz-form-explain *ngIf="
                                    (name.dirty || name.touched) &&
                                    name.errors?.required
                                ">
                                {{
                                    "validations-form.reason-template.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col">
                    <nz-form-item>
                        <nz-form-label nzFor="order" nzRequired>{{ "common.orderNo" | translate }}
                        </nz-form-label>
                        <nz-form-control>
                            <input type="number" nz-input [(ngModel)]="modelQuery.order" name="order" #order="ngModel"
                                required />
                            <nz-form-explain *ngIf="
                                    (order.dirty || order.touched) &&
                                    order.errors?.required
                                ">
                                {{
                                    "validations-form.orderNo.required"
                                        | translate
                                }}
                            </nz-form-explain>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <nz-form-item>
                        <nz-form-label nzFor="image" nzRequired>{{
                            "common.avatar" | translate
                        }}</nz-form-label>
                        <nz-form-control>
                            <nz-file-uploader [nzFileList]="image" [nzShowButton]="!modelQuery.image"
                                [nzData]="{ path: 'reason-template' }" (nzChange)="updateContentImg($event, 'image')"
                                [nzAccept]="'image/*'" [nzBeforeUpload]="beforeUpload">
                            </nz-file-uploader>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div class="col">
                    <nz-form-item>
                        <nz-form-label nzFor="selectedImg" nzRequired>
                            {{
                                "settings.reason-template.selectedImage"
                                    | translate
                            }}
                        </nz-form-label>
                        <nz-form-control>
                            <nz-file-uploader [nzFileList]="selectedImage" [nzShowButton]="!modelQuery.selectedImage"
                                [nzData]="{ path: 'reason-template' }" (nzChange)="
                                    updateContentImg($event, 'selectedImage')
                                " [nzAccept]="'image/*'" [nzBeforeUpload]="beforeUpload">
                            </nz-file-uploader>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
        </form>
    </ng-template>
    <ng-template #modalFooter>
        <div class="grid__footer">
            <div class="buttonActions">
                <button ad-button nzUpper nzColor="primary" [nzLoading]="loadingModal"
                    (click)="onCreateReasonTemplate()">
                    {{
                        (modelQuery?._id ? "button.update" : "button.add")
                            | translate
                    }}
                </button>
                <button ad-button nzUpper nzColor="default" (click)="handleVisibleModal(false)">
                    {{ "button.close" | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
