$default: #000; // default colors for layout
$body-bg: #eaeff3; // default bg color
$default-text: $default; // default text color layout (usually is the same as $default)
// sidebar colors
$sidebar: #fff;
$sidebar-text: hsl(0, 0%, 100%);
// color scheme
$primary: #f3c74c !default;
$info: #40daf1 !default;
$success: #8bd22f !default;
$warning: #e7ba08 !default;

$resM: 768px;
$resXS: 500px;
$resXXS: 435px;
$resMin: 320px;
$top-height: 60px;
$logo-height: 40px;
$sidebar-width: 230px;
$assets-root: "/assets";
$images-root: "/img/";
$menu-background-color: #2b303b;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white, 50%)) {
    ::-webkit-scrollbar {
        width: $size;
        height: $size;
    }

    ::-webkit-scrollbar-thumb {
        background: $foreground-color;
        cursor: pointer;
    }

    ::-webkit-scrollbar-track {
        background: $background-color;
    }

    body {
        scrollbar-face-color: $foreground-color;
        scrollbar-track-color: $background-color;
    }
}

@mixin bg-translucent-dark($opacity) {
    background: rgba(0, 0, 0, $opacity);
}

@mixin body-bg() {
    background-color: $body-bg;

    &::before {
        content: "";
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        will-change: transform;
    }
}
