<div class="modal-body padding-10">
    <h4>{{'service.collection-modal.title'|translate}}</h4>

    <ng-template [ngIf]="servicer">
        <label>{{'common.servicer' | translate}}</label>
        <input class="form-control" disabled placeholder="{{servicer?.fullName}}">
    </ng-template>

    <label>{{'service.collection-modal.input'|translate}} (<span class="link"
            (click)="model.value = maxMoney;">{{maxMoney | number}}</span>):</label>
    <input type="number" class="form-control" placeholder="{{'service.collection-modal.placeholder'|translate}}" min="0"
        [(ngModel)]="model.value" max="{{maxMoney}}" />
    <div class="alert alert-danger" *ngIf="model.value < 0 || model.value > maxMoney">
        {{'service.collection-modal.error-moneyIsInvalid'|translate:errorParams}}</div>

    <label>{{'common.depositMethod' | translate}}</label>
    <select class="form-control" [(ngModel)]="model.from">
        <option *ngFor="let item of depositMethods" [ngValue]="item">{{'common.depositMethods.' + item | translate}}
        </option>
    </select>

    <ng-template [ngIf]="model.from === 'bank'">
        <label>{{'common.bank' | translate}}</label>
        <select style="width: 100%" [(ngModel)]="model.bankCode" name="bank" #bank="ngModel" nzAllowClear="true">
            <option *ngFor="let item of banks" [ngValue]="item"> {{item}}
            </option>
        </select>
    </ng-template>

    <label>{{'common.note' | translate}}</label>
    <textarea class="form-control" [(ngModel)]="model.note"></textarea>
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="activeModal.close()" translate="actions.close"></button>
    <button type="button" class="btn btn-danger" (click)="confirm()"
        [disabled]="model.value < 0 || model.value > maxMoney">{{'button.payment'|
        translate}}</button>
</div>
