<div class="grid__container">
    <div class="grid__header">
        <button class="grid__action__left" ad-button nzColor="primary" (click)="toggleFilter()">
            {{'button.filter' | translate}}
        </button>
        <button class="grid__action__right" ad-button nzColor="primary" (click)="create()">
            {{'warehouse.warehouse.create' | translate}}
        </button>
    </div>
    <warehouse-filter [style.display]="filterVisible ? 'block' : 'none'" (search)="search($event)"></warehouse-filter>
    <statistic-tile [data]="statisticData" [style]="{ width: '25%' }"></statistic-tile>
    <div style="clear:both"></div>
    <warehouse-grid #grid (delete)="confirmDelete($event)" (statistics)="callbackStatistics($event)"></warehouse-grid>
</div>
<create-modify-warehouse-modal [modifyingModel]="instanceToEdit" [visible]="createModifyModalVisible"
    (handleVisible)="handleModalVisible($event)" (afterSubmit)="handleAfterSubmit()">
</create-modify-warehouse-modal>
