<div class="create-maps">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false" [zoomControl]="false" [style.height]="height"
        [fitBounds]="fitBounds">

        <agm-marker *ngFor="let m of markers; let i = index" [latitude]="m.lat" [longitude]="m.lng" [label]="m.label" [markerDraggable]="m.draggable">
            <agm-info-window>
                <strong>{{m.address}}</strong>
            </agm-info-window>
        </agm-marker>

        <agm-direction *ngFor="let item of processingDirection" [origin]="item.origin" [destination]="item.destination" [renderOptions]="renderGreenOptions"></agm-direction>
    </agm-map>
</div>
