<nz-table #table [nzData]="model?.data" [nzFrontPagination]="false" [nzLoading]="loadingGrid" [nzTotal]="model?.total"
    [(nzPageIndex)]="queryModel.page" [(nzPageSize)]="queryModel.limit" nzShowSizeChanger
    (nzPageIndexChange)="loadDataByPage($event)" (nzPageSizeChange)="loadDataByPageSize($event)"
    [nzScroll]="{x: '800px'}" nzShowQuickJumper [nzShowTotal]="totalTemplate">
    <thead>
        <tr>
            <th nzLeft="0px" [nzWidth]="'15%'">{{'table.team-code'  | translate}}</th>
            <th [nzWidth]="'15%'">{{'common.createdAt' | translate}}</th>
            <th [nzWidth]="'20%'">{{'table.team-name' | translate}}</th>
            <th [nzWidth]="'20%'">{{'table.member'  | translate}}</th>
            <th [nzWidth]="'20%'">{{'table.status' | translate}}</th>
            <th [nzWidth]="'10%'" nzRight="0px">{{'common.action' | translate}}</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of table.data">
            <td>
                <a target="_blank" routerLink="/pages/servicer-management/team/detail/{{item._id}}">{{item.code}}</a>
            </td>
            <td>{{item.createdAt | date:'HH:mm dd/MM/yyyy'}}</td>
            <td>{{item.name}}</td>
            <td>{{item.numberOfMembers ? item.numberOfMembers : 0}}</td>
            <td>{{'common.status' + item.status | translate}}</td>
            <td nzRight="0px" width="10%" *ngIf="item.status !== 4">
                <button ad-button nzUpper nzColor="primary"
                    (click)="confirmDelete(item._id)">{{'button.remove' |translate }}</button>
            </td>
        </tr>
    </tbody>
</nz-table>
<ng-template #totalTemplate let-range="range" let-total>
    {{'table.show' | translate}} {{range[0]}}-{{range[1]}}. {{'table.total' | translate}} {{total}}
    {{'table.result' | translate | lowercase}}
</ng-template>
