<div class="grid__container">
    <div class="grid__header">
        <div class="grid__action">
            <nz-input-group nzSuffixIcon="anticon anticon-search">
                <input type="text" [(ngModel)]="searchKey" nz-input placeholder="{{'finance.bank.search' | translate}}"
                    (ngModelChange)="onFind($event)" />
            </nz-input-group>
            <button ad-button nzColor="red" (click)="handleVisible(true)">
                {{'button.add'|translate}}
            </button>
        </div>
    </div>
    <div class="grid__content">
        <nz-table #table [nzData]="tableData.data" [nzFrontPagination]="false" nzShowSizeChanger [nzLoading]="loading"
            [nzTotal]="tableData.total" [(nzPageIndex)]="pageIndex" [(nzPageSize)]="pageSize"
            (nzPageIndexChange)="loadDataByPage($event)" (nzPageSizeChange)="loadDataByPageSize($event)"
            [nzScroll]="{ x: '700px' }" [nzShowTotal]="totalTemplate">
            <thead>
                <tr>
                    <th [nzWidth]="'200px'">{{'common.name' | translate}}</th>
                    <th [nzWidth]="'160px'">{{'finance.bank.short-name' | translate}}</th>
                    <th [nzWidth]="'140px'">{{'finance.bank.keyword' | translate}}</th>
                    <th [nzWidth]="'100px'">{{'common.avatar' | translate}}</th>
                    <th [nzWidth]="'100px'" nzRight="0px">{{'common.action' | translate}}</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of table.data">
                    <td>{{ data.name }}</td>
                    <td>{{ data.shortName }}</td>
                    <td>{{ data.keyword }}</td>
                    <td><img [src]="data.image" height="50" /></td>
                    <td nzRight="0px">
                        <ng-container>
                            <button nz-dropdown ad-button nzType="dashed" [nzDropdownMenu]="menu"
                                [nzPlacement]="'bottomCenter'">
                                {{'common.action' | translate}}
                            </button>
                            <nz-dropdown-menu #menu="nzDropdownMenu">
                                <ul nz-menu nzSelectable>
                                    <li nz-menu-item>
                                        <a (click)="edit(data._id)">{{'button.update' | translate}}</a>
                                    </li>
                                    <li nz-menu-item>
                                        <a (click)="delete(data._id)">{{'common.delete' | translate}}</a>
                                    </li>
                                </ul>
                            </nz-dropdown-menu>
                        </ng-container>
                    </td>
                </tr>
            </tbody>
        </nz-table>
        <ng-template #totalTemplate let-range="range" let-total>
            {{ 'table.show' | translate }} {{ range[0] }}-{{ range[1] }}. {{ 'table.total' | translate }} {{ total }}
            {{ 'table.result' | translate | lowercase}}
        </ng-template>
    </div>
</div>
<create-bank [model]="model" [visible]="visibleModel" (submit)="submit($event)" (handleVisible)="handleVisible($event)"
    [loading]="loadingModel" (handleLoading)="handleLoading($event)" #createBank>
</create-bank>
