<nz-modal nzWidth="1300px" [(nzVisible)]="visible" [nzTitle]="modalTitle" [nzContent]="modalContent"
    [nzFooter]="modalFooter" (nzOnCancel)="handleVisibleModal(false)">
    <ng-template #modalTitle>{{ 'common.detail' | translate }}</ng-template>
    <ng-template #modalContent>
        <transaction-grid [queryModel]="queryModel"></transaction-grid>
    </ng-template>
    <ng-template #modalFooter>
        <div class="grid__footer">
            <div class="buttonActions">
                <button ad-button nzUpper nzColor="gray" (click)="handleVisibleModal(false)">
                    {{ 'button.close' | translate }}
                </button>
            </div>
        </div>
    </ng-template>
</nz-modal>
