<div style="margin: 10px 0;">
    <form nz-form nzLayout="vertical" #form="ngForm" *ngIf="display">
        <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="">{{ "finance.session-cod.code" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="queryModel.code" name="code" [placeholder]="
                                'finance.session-cod.code' | translate
                            " />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="">{{ "order.code" | translate }} /
                        {{ "order.external-code" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="queryModel.externalCode" name="code" [placeholder]="
                                ('order.code' | translate) +
                                '/' +
                                ('order.external-code' | translate)
                            " />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="customer">{{
                        "order.customer" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <search-and-suggest-account-component mode="multiple" [(ngModel)]="selectedUser" #user="ngModel"
                            [valueType]="'_id'" ngDefaultControl [customerSearchCondition]="customerSearchCondition"
                            [allowCustomer]="true" [ngModelOptions]="{ standalone: true }"
                            [servicerSearchCondition]="customerSearchCondition" [placeHolder]="
                                ('actions.enter' | translate) +
                                ' ' +
                                ('common.id' | translate | uppercase) +
                                '/' +
                                ('common.name' | translate) +
                                '/' +
                                ('common.phone' | translate)
                            ">
                        </search-and-suggest-account-component>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="">{{
                        "common.status" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <nz-select style="width: 100%" [(ngModel)]="queryModel.status" name="status" nzShowSearch
                            nzPlaceHolder="{{ 'common.all' | translate }}" nzAllowClear>
                            <nz-option [nzLabel]="'common.all' | translate" [nzValue]="''">
                            </nz-option>
                            <nz-option *ngFor="let item of statuses" [nzLabel]="
                                    'finance.session-cod.status.' + item
                                        | translate
                                " [nzValue]="item">
                            </nz-option>
                        </nz-select>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="searchTime">{{
                        "common.createdAt" | translate
                    }}</nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [nzShowTime]="false" [nzRanges]="ranges1" nzShowTime nzFormat="dd/MM/yyyy"
                            [(ngModel)]="searchTime" name="searchTime" [nzPlaceHolder]="[
                                'filter.fromDate' | translate,
                                'filter.toDate' | translate
                            ]">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>

            <div class="col-4">
                <nz-form-item>
                    <nz-form-label nzFor="transfer">{{ "finance.session-cod.transfer-date" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-range-picker [nzShowTime]="false" [nzRanges]="ranges1" nzShowTime nzFormat="dd/MM/yyyy"
                            [(ngModel)]="transfer" name="transfer" [nzPlaceHolder]="[
                                'filter.fromDate' | translate,
                                'filter.toDate' | translate
                            ]">
                        </nz-range-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <nz-form-item>
                    <nz-form-label class="form-label--empty"></nz-form-label>
                    <nz-form-control>
                        <button ad-button nzColor="primary" (click)="searchEvent()">
                            {{ "button.search" | translate }}
                        </button>
                        &nbsp;
                        <button ad-button nzColor="white" (click)="reset()">
                            {{ "button.clear" | translate }}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
</div>
