<form nz-form nzLayout="vertical" #filterHookTypeForm="ngForm">
    <div class="row">
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="type">{{
                    "common.type" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="modelQuery.type" [nzPlaceHolder]="'filter.all' | translate" name="type"
                        nzAllowClear>
                        <nz-option *ngFor="let item of types" [nzLabel]="
                                'hook.hook-type-type.' + item | translate
                            " [nzValue]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-3">
            <nz-form-item>
                <nz-form-label nzFor="status">{{
                    "common.status" | translate
                }}</nz-form-label>
                <nz-form-control>
                    <nz-select [(ngModel)]="modelQuery.status" [nzPlaceHolder]="'filter.all' | translate" name="status"
                        nzAllowClear>
                        <nz-option *ngFor="let item of statuses" [nzLabel]="'common.status' + item | translate"
                            [nzValue]="item">
                        </nz-option>
                    </nz-select>
                </nz-form-control>
            </nz-form-item>
        </div>
        <div class="col-2">
            <nz-form-item>
                <nz-form-label class="form-label form-label--empty"></nz-form-label>
                <nz-form-control>
                    <button ad-button nzColor="primary" (click)="search()">
                        {{ "button.find" | translate }}
                    </button>
                    &nbsp;
                    <button ad-button (click)="reset()">
                        {{ "button.reset" | translate }}
                    </button>
                </nz-form-control>
            </nz-form-item>
        </div>
    </div>
</form>
