    <form *ngIf="visibleFilter" nz-form #referralPolicyFilter="ngForm">
        <div class="row">
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label>
                        {{ "filter.referralpolicy" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <input nz-input [(ngModel)]="modelQuery.name" name="name" #nameValue="ngModel" />
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label>
                        {{ "filter.fromDate" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="fromDate" name="fromDate"
                            nzPlaceHolder="{{ 'filter.fromDate' | translate }}"
                            (ngModelChange)="onChangeFromDate($event)">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label>
                        {{ "filter.toDate" | translate }}
                    </nz-form-label>
                    <nz-form-control>
                        <nz-date-picker nzFormat="dd/MM/yyyy" [(ngModel)]="toDate" name="toDate"
                            nzPlaceHolder="{{ 'filter.toDate' | translate }}" (ngModelChange)="onChangeToDate($event)">
                        </nz-date-picker>
                    </nz-form-control>
                </nz-form-item>
            </div>
            <div class="col-3">
                <nz-form-item>
                    <nz-form-label class="form-label--empty">
                    </nz-form-label>
                    <nz-form-control>
                        <button ad-button nzColor="primary" class="mediumButton" (click)="clickSearch()">
                            {{ "button.find" | translate}}
                        </button>
                        <button ad-button nzColor="white" class="mediumButton" (click)="clickClearFilter()">
                            {{ "button.remove" | translate }}
                        </button>
                    </nz-form-control>
                </nz-form-item>
            </div>
        </div>
    </form>
