<div class="row">
    <div class="col-5">
        <nz-select style="width: 100%;" nzPlaceHolder="{{'condition.select' | translate }}" nzAllowClear
            [(ngModel)]="selectedCondition" name="selectCondition">
            <nz-option *ngFor="let item of conditionList" [nzValue]="item"
                [nzLabel]="'condition.title.' + item.title | translate"></nz-option>
        </nz-select>
    </div>
    <div class="col-7">
        <button ad-button nzColor="red" class="add-button" (click)="addOneCondition(selectedCondition)">
            {{ 'button.add' | translate }}
        </button>
        <button ad-button nzColor="red" class="add-button" (click)="addAllCondition()">
            {{ 'button.addAll' | translate }}
        </button>
    </div>
</div>
<div class="row">
    <div [class]="'col-' + (12/numberOfCol)" *ngFor="let item of conditionList">
        <condition *ngIf="model[item.title]" [(model)]="model[item.title]"
            [title]="'condition.title.'+item.title | translate" [type]="item.type" (onRemove)="removeCondition(item)">
        </condition>
    </div>
</div>
