<page-wrapper [nzTitle]="pageTitle">

    <ng-template #pageTitle>
        <div class="title">
            {{ "order.information-order" | translate }}
        </div>
    </ng-template>
    <div *ngIf="order">
        <nz-skeleton [nzActive]="true" [nzLoading]="loading" [nzTitle]="false" [nzParagraph]="{ rows: 15 }">
            <span class="row">
                <span class="col-6">
                    <span style="font-weight: bold">{{'common.orderType' | translate}}: </span>
                    <span *ngIf="order.serviceType">{{"order.type." + order.serviceType | translate}}</span></span>
                <span class="col-6 text-left">
                    <span style="font-weight: bold">{{'order.order-status' | translate}}: </span>
                    <nz-tag [nzColor]="ORDER_STATUS_COLOR[order.status]">{{ order.statusLabel }}</nz-tag>
                </span>
            </span>
            <span class="row">
                <span class="col-6"><span style="font-weight: bold">{{'table.create-date' | translate}}: </span>
                    <span *ngIf="order.createdAt">{{order.createdAt | date: "HH:mm dd/MM/yyyy"}} </span>
                </span>
                <span class="col-6 text-left"><span
                        style="font-weight:bold">{{'warehouse.warehouse-order.operator' | translate}}: </span><span
                        *ngIf="processedStaff"> {{ processedStaff?.fullName }}</span></span>
            </span>
            <div class="row">
                <span class="col-6"><span style="font-weight: bold">
                        {{'common.customer' | translate}}: </span>
                    <span *ngIf="user">
                        <a target="_blank"
                            routerLink="/pages/customer-management/personal/detail/{{user._id}}">{{ user?.fullName }}</a>
                    </span>
                </span>
                <span class="col-6 text-left">
                    <span style="font-weight: bold">{{'customer.staff-in-charge' | translate}}: </span>
                    <span></span>
                </span>
            </div>
            <div class="row">
                <span class="col-6"><span style="font-weight:bold">{{'common.phone' | translate}}: </span>
                    <span *ngIf="user">{{user.phone}}</span></span>
                <span class="col-6 text-left"><span
                        style="font-weight:bold">{{'warehouse.warehouse-order.host' | translate}}: </span><span
                        *ngIf="host"> <a target="_blank"
                            routerLink="/pages/customer-management/personal/detail/{{host._id}}">{{host?.fullName}}</a></span>
                </span>
            </div>
            <div class="row">
                <span class="col-6"><span style="font-weight:bold">{{'common.email' | translate}}: </span> <span
                        *ngIf="user">{{user.email}}</span></span>
                <span class="col-6 text-left"><span style="font-weight:bold">{{'common.phone' | translate}}: </span>
                    <span *ngIf="host">{{host.phone}}</span></span>
            </div>
            <div class="row">
                <span class="col-6"><span style="font-weight:bold">{{'filter.address' | translate}}: </span><span
                        *ngIf="user">
                        {{ user.address.street }}{{ user.address.districtName ? ", " + user.address.districtName : ""}}
                        {{ user.address.cityName ? ", " + user.address.cityName : ""}}</span></span>
                <span class="col-6 text-left"><span style="font-weight:bold">{{'common.warehouse' | translate}}:
                    </span>
                    <span *ngIf="pointDetail">
                        <a target="_blank"
                            routerLink="/pages/warehouse/detail/{{pointDetail.warehouseId}}">{{pointDetail.warehouseName}}</a></span>
                </span>
            </div>
            <div class="row">
                <span class="col-6 text-left"><span
                        style="font-weight:bold">{{'warehouse.warehouse-order.note-customer' | translate}}: </span>
                    <span>{{order.note}}</span>
                </span>
                <span class="col-6"><span
                        style="font-weight:bold">{{'warehouse.warehouse-order.note-operator' | translate}}: </span>
                    <span>{{order.adminNote}}</span><a (click)="handleNoteAdmin()">
                        <img *ngIf="checkAuthority()" src="/assets/icon/edit_pencil.png" alt="edit" height="15"
                            width="15" /></a>
                </span>
            </div>
            <br>
            <div class="title">{{'common.detail' | translate | uppercase}}</div>
            <nz-divider></nz-divider>

            <div class="row">
                <div class="col-6 bold">{{'filter.address' | translate}}</div>
                <div class="col-2 bold text-left">{{'warehouse.warehouse-order.rented-area' | translate}}</div>
                <div class="col-2 bold text-left">{{'common.status' | translate}}</div>
                <div class="col-2 bold text-left">{{'common.detail' | translate}}</div>
            </div>
            <div class="row" *ngIf="pointDetail">
                <div class="col-6">{{pointDetail.location?.address}}</div>
                <div class="col-2 text-left">{{rentArea | number}}m2</div>
                <div class="col-2 text-left">
                    <span>{{'warehouse.warehouse-order-status.' + pointDetail.status | translate}}</span>
                </div>
                <div class="col-2 text-left"><a (click)="handleVisiblePoints()">{{'common.detail' | translate}}</a>
                </div>
            </div>
            <br>
            <warehouse-order-history #history [order]="order"></warehouse-order-history>
        </nz-skeleton>
    </div>
</page-wrapper>
<warehouse-order-points [order]="order" [host]="host" [user]="user" [visible]="visiblePoints"
    (handleVisiblePoints)="handleVisiblePoints($event)" #warehouseOrderPoints>
</warehouse-order-points>
